name: Validate Multiple YAML Files

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - run: npm install -g yaml-schema-validator

    - name: Validate Schedule YAML
      run: |
        schema validate -e -f schedule.yml -s schemas/schema_schedule.yml
